header {
  background: url("./assets/wallpaper.png") no-repeat;
  background-color: var(--background-color);
  background-size: cover;
  height: auto;
  min-height: calc(100vh + 200px);
  padding: var(--default-padding);
  position: relative;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      list-style: none;

      li {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        width: 6.25rem;

        a {
          color: var(--white);
          text-decoration: none;
        }
      }
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: calc(100vh - 50%);
    width: 30%;

    h1 {
      color: var(--white);
      font-size: 4rem;
      text-transform: uppercase;

      span {
        color: var(--red);
      }
    }

    p {
      color: var(--white);
    }
  }
}

main {
  background-color: var(--background-color);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--default-padding);

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    ul {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style: none;
      width: max-content;

      h4 {
        align-items: center;
        color: var(--medium-grey);
        display: flex;
        gap: 1rem;
        font-weight: 400;

        ion-icon {
          color: var(--red);
          font-size: 1rem;
        }
      }

      li {
        color: var(--white);
      }
    }

    aside {
      width: 100%;

      img {
        background-size: contain;
      }
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .main-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h4 {
        color: var(--white);
      }

      .cards-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5, 1fr);

        .card {
          height: 21.875rem;
          width: 15rem;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  header {
    .text-container {
      top: calc(100vh - 30%);

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  main {
    .main-container .main-content {
      .cards-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
