@import url("./default.css");

header {
  background: url("../assets/wallpaper.png") no-repeat;
  background-color: var(--background-color);
  background-size: cover;
  min-height: calc(100vh + 200px);

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: calc(100vh - 50%);
    width: 30%;

    h1 {
      color: var(--white);
      font-size: 4rem;
      text-transform: uppercase;

      span {
        color: var(--red);
      }
    }

    p {
      color: var(--white);
    }
  }
}

main {
  background-color: var(--background-color);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--default-padding);

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    ul {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style: none;
      width: max-content;

      h4 {
        align-items: center;
        color: var(--medium-grey);
        display: flex;
        gap: 1rem;
        font-weight: 400;

        ion-icon {
          color: var(--red);
          font-size: 1rem;
        }
      }

      li {
        color: var(--white);
      }
    }

    aside {
      width: 100%;

      img {
        background-size: contain;
        width: 100%;
      }
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .main-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h4 {
        color: var(--white);
      }

      .cards-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5, 1fr);

        .card {
          height: 21.875rem;
          position: relative;
          width: 15rem;
          overflow: hidden;

          .text-container {
            align-items: center;
            color: var(--white);
            display: flex;
            flex-direction: column;
            gap: 0.375rem;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            /* opacity: 0;
            transition: opacity 0.3s; */
            visibility: hidden;
            width: 100%;

            p {
              text-transform: capitalize;
            }

            span {
              font-size: 0.625rem;
            }

            button {
              background-color: var(--red);
              border: none;
              border-radius: 0.25rem;
              color: var(--white);
              cursor: pointer;
              margin-top: 1rem;
              padding: 0.5rem;
              width: 6.25rem;
            }
          }

          img {
            width: 100%;
          }

          &:hover {
            img {
              opacity: 0.2;

              + .text-container {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  header {
    .text-container {
      top: calc(100vh - 30%);

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  main {
    .main-container .main-content {
      .cards-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
